:root {
  --primary-color: #b4edd8;
  --secondary-color: #041f4a;
  --tertiary-color: #B1ABAB;
  --gradient-start: #B4EDD8;
  --gradient-end: #21D1E9;
  --font-size: 16px;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
